.progress-container {
    display: flex;
    height: 3rem;
    text-align: center;
    flex-direction: column;
  }
  
  .progress-bar-container {
    width: 300px;
    height: 50px; /* Increased height to accommodate status text */
    border: 1px solid #ccc;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #44a816;
    width: var(--progress, 0%);
    transition: width var(--duration, 0.5s) ease-in-out; /* Smooth transition */
  }
  
  .progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .progress-status {
    position: absolute;
    top: 159px;
    left: 9%;
    transform: translateX(-50%);
  }
  
  